@{
    ViewBag.Title = "Index";
}
@model ShultzeUI.Models.Result.ResultModel

<div class="container">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">


            @foreach (ShultzeResponse.Theme theme in Model.Themes)
            { 
                <a class="btn btn-default js-reload"  href="@Url.Action("Index", "Result", new { id = theme.ID })">@theme.Name</a>
            }
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 table-placeholder">
            @if (Model.Responses != null)
            {
                Html.RenderPartial("Partial/Table", Model);
            }
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"><a class="js-vote btn btn-default">VOTE!</a></div>
        <div class="col-md-10"></div>
    </div>
</div>

<div id="dialog">Add Data</div>

@section scripts {
    <script src="~/Scripts/Shultze.js" type="text/javascript"></script>
}
